
@{
    Layout = null;
}

@*Merhaba Dünya*@

<h1>Merhaba</h1>
<h3>Selam</h3>
<h5>Hello</h5>
<br />
<div style="background-color:coral">Merhaba Arkadaşlar</div>
<br />
<div style="background-color:crimson">Selamlar</div>
<br />
<a href="http://www.google.com">Google'a Git</a>
<br />
<br />
<a href="">2.Sayfayı Aç</a>
